<% if user_signed_in? %>
	<div class="row">
		<div class="6u 12u(mobilep)">
			<h2>Conversations</h2>

			<%= link_to "Send new message", new_bid_project_path %>

			<br><br>
				Inbox (<%= current_user.mailbox.inbox.unread(current_user).count %>) | 
				All Conversations (<%= current_user.mailbox.conversations.count %>) |
				Sent (<%= current_user.mailbox.sentbox.count %>) |
				Trash (<%= current_user.mailbox.trash.count %>)
			<br><br>

			Total Conversations: <%= @conversations.count %>

			<br>
			<br>

			<% @conversations.each do |conversation| %>
					<% if conversation.is_unread?(current_user) %>
					<strong>
						<%= link_to conversation.subject, bid_project_path(conversation) %>, <%= conversation.created_at.strftime("%m/%d/%Y %l:%M %p ") %>
					</strong>
					<% else %>
						<%= link_to conversation.subject, bid_project_path(conversation) %>, <%= conversation.created_at.strftime("%m/%d/%Y %l:%M %p ") %>
					<% end %>
				<br>
			<% end %>
		</div>
	</div>
<% end %>