<% if policy(current_user).new? %>
	<div class="row">
		<div class="4u 12u(mobilep)">
		<h2>Send new message</h2>
			<%= form_tag conversation_path, method: :post do %>
					<%= select_tag :user_id, options_from_collection_for_select(User.all - [@current_user], :id, :name) %>

					<%= text_field_tag :subject, nil, placeholder: "Subject" %>

					<%= text_area_tag :body, nil, placeholder: "Leave a message" %>

					<%= file_field_tag :attachment %>

				<%= submit_tag %>	
			<% end %>
		</div>
	</div>
<% end %>