<h2><%= @conversation.subject %></h2>

<% @conversation.receipts_for(current_user).each_with_index do |receipt, index| %>
	<br />
		Message # <%= index + 1 %> from <i><%= receipt.message.sender.name %>, <%= receipt.message.sender.role %></i>
		<p><%= receipt.message.body %></p>
		This message was sent on: <%= receipt.message.created_at.strftime("%b. %e, %l:%M %p") %>

		<% if receipt.message.attachment? %>
			<strong>Attachment</strong>
		<%= link_to receipt.message.attachment.file.filename, receipt.message.attachment.url, target: :blank %>
		<% end %>
<% end %>

<p>Your response:</p>
<%= form_tag conversation_messages_path(@conversation), method: :post do %>
	<div>
		<%= text_area_tag :body %>
		<%= file_field_tag :attachment %>
	</div>

	<%= submit_tag %>	
<% end %>

<%= link_to "Send new message", new_bid_project_path %>