<div class="row">
	<div class="6u 12u(mobilep)">
		<h2>Conversation for <%= @project.address %></h2>

		<% @conversation.receipts_for(current_user).each_with_index do |receipt, index| %>
				Message # <%= index + 1 %> from <% if receipt.message.sender == current_user %> <i>You</i> <% else %> <i> Them </i> <% end %>|| <%= receipt.message.created_at.strftime("%b. %e, %l:%M %p") %></i>
				<p><%= receipt.message.body %></p>

				<% if receipt.message.attachment? %>
					<strong>Attachment</strong>
				<%= link_to receipt.message.attachment.file.filename, receipt.message.attachment.url, target: :blank %>
				<% end %>
		<% end %>

		<h4>Your Message</h4>
		<%= form_tag new_bid_message_path(@user_id, @project.id, @bid.id, @bid_project.id), method: :post do %>
			<div>
				<%= text_area_tag :body %>
				<%= file_field_tag :attachment %>
				<%= hidden_field_tag :conversation, @conversation %>
				<%= hidden_field_tag :project_user, @project_user_id %>
				<% if current_user.contractor? %>
				<%= hidden_field_tag :recipient, @project_user_id %>
				<% else %>
				<%= hidden_field_tag :recipient, @contractor_id %>
				<% end %>
			</div>

			<%= submit_tag "Send Message" %>	
		<% end %>
	</div>
</div>