<% if policy(@loan_application).edit? %>
	<h3>Loan Application | Purchasing Entity Info</h3>
		<div class="row">
			<div class="2u 12u(mobilep)">
			<%= form_for @loan_application, url: loan_application_path do |f| %>
				<% if @loan_application.errors.any? %>
		 			<%= form_errors_for @loan_application %>
		 		<% end %>
				<h5> Purchasing Entity Name </h5>
				<%= f.text_field :entity_name%>
				<h5> Entity Type </h5>
				<%= f.text_field :entity_type%>
				<h5> State Formed </h5>
		    	<%= f.select :state, options_for_select(us_states) %>
				<h5> EIN </h5>
				<%= f.number_field :ein%>
				<br><br>
				<h5> Upload Entity Docs </h5>
			    <%= f.file_field :entity_docs %>
			</div>

			<div class="2u 12u(mobilep)">
				<h5> Legal Adresss </h5>
				<%= f.text_field :legal_address%>
				<h5> Legal City </h5>
				<%= f.text_field :legal_city%>
				<h5> Legal State</h5>
				<%= f.select :legal_state, options_for_select(us_states) %>
				<br>
				<h5> Legal Zip Code </h5>
				<%= f.number_field :legal_zip_code%>
				<br>
				<br>
				<%= f.submit "Next" %>
			</div>
		<% end %>
	</div>
<% end %>