<% if @project.exterior? %>
	<h3>Exterior Features</h3>
	<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 3), :id, :name), prompt: "Select only if needed" %><br>
	<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 3), :id, :name), prompt: "Select only if needed" %><br>
	<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 3), :id, :name), prompt: "Select only if needed" %><br>
	<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 3), :id, :name), prompt: "Select only if needed" %><br>
	<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 3), :id, :name), prompt: "Select only if needed" %><br>
	<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 3), :id, :name), prompt: "Select only if needed" %>
<% else %>
<% end %>
</div>

<% if @project.floor? %>
	<div class="3u 12u(mobilep)">
	<h3>Floors</h3>
	<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 0), :id, :name), prompt: "Select only if needed" %>
	</div>
<% else %>
<% end %>

<% if @project.roof? %>
	<div class="3u 12u(mobilep)">
	<h3>Roof</h3>
	<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 2), :id, :name), prompt: "Select only if needed" %><br>
	<%= submit_tag "Submit" %>
	</div>
<% else %>
<% end %>