<% if user_signed_in? %>
<h4> Welcome <%= current_user.name %>!</h4>
	<div class="row">
		<div class="4u 12u(mobilep)">
			<h2> Project Estimates </h2>
			<h4><%= link_to 'Create New Project', new_user_project_path(current_user.id)%><br>
			<br><%= link_to 'Create Pricing', new_user_price_feature_path(current_user.id)%><br></h4>
			<br>
			<br><h3>Your Projects</h3>
				<ul>
					<% @all_user_projects.each do | project | %>
						<li>
							<h5><%= link_to project.address, user_project_path(current_user.id, project.id) %></h5>
						</li>
					<% end %>
				</ul>
			</div>

			<div class="4u 12u(mobilep)">
				<h2> Loan Quotes </h2>
				<h4><%= link_to 'Create Lending Policy', new_user_lender_underwriting_path(current_user.id)%> |
				<%= link_to 'See Your Policies', user_lender_underwritings_path(current_user.id)%><br>
				<br><%= link_to 'Get New Loan', new_user_loan_quote_path(current_user.id)%><br></h4>
				<br>
				<br><h3>Your Loans</h3>
					<ul>
						<% @all_user_loans.each do | loan | %>
							<li>
								<h5><%= link_to loan.address, user_loan_quote_path(current_user.id, loan.id) %></h5>
							</li>
						<% end %>
					</ul>
				<br><h3>Lender Loans</h3>
					<ul>
						<% @user_lender_loans.each do | loan | %>
							<li>
								<h5><%= link_to loan.address, user_lender_loan_path(current_user.id, loan.id) %></h5>
							</li>
						<% end %>
					</ul>
			</div>

			<div class="4u 12u(mobilep)">
				<h2> Contractor Bids </h2>
				 <h5><%= link_to "Communicate With Contractors", new_bid_project_path %></h5>
				<h4><td><%= button_to 'Get Bids Now', {:controller => "projects", :action => "index", :user_id => current_user.id}, :method=>:get  %></td></h4>
				<% if current_user.bids.exists? %>
					<h3> Current Project Bids</h3>
					<ul>
						<% @user_project_bids.each do | bid | %>
							<li>
								<h5><%= link_to "#{bid.project.address}", user_project_bid_path(current_user.id, bid.project.id, bid.id) %></h5>
							</li>
						<% end %>
					</ul>
				<% else %>
					<h3> No Current Bids</h3>
				<% end %>
			</div>

<% else %>
	<h2> Please sign up or log in..</h2>
<% end %>