<!--Body-->
<body class="space-top">

<!--Page Preloading-->
<div id="preloader"><div id="spinner"></div></div>


	<div class="jumbotron">
	  <h1>RehabID</h1>
	  <p>Introducing the ultimate app &amp; for rehabbers and fixxer uppers.</p>
	  <p>You provide the property details and we automatically do the hard work you, like getting estimates, loans, and bids for the renovation.</p>
	  <p><span class="btn btn-primary btn-lg" role="button"><%= link_to 'Sign Up', new_user_registration_path%></span></p>
	</div>


			<!--Features-->
	    <section class="page-block" id="features">
	    	<div class="container">
	        <div class="row page-header">
	          <h2>Features</h2>
	          <span>The best tools a rehabber can have!</span>
	        </div>
	        <div class="row features">
	          <div class="col-lg-4 col-md-4 col-sm-4">
	            <div class="feature-img"><%= image_tag("feature1.png", id:"learn", width: '124', height: '120', alt: "Hard Money Loans") %></div>
	            <h3>Hard Money Loans</h3>
							<p>Hard money loans are typically issued by private investors or companies. We aggregate from the best hard money lenders available and get you instantly pre-approved!</p>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="feature-img"><%= image_tag("feature3.png", id:"learn", width: '124', height: '120', alt: "Renovation Cost Estimator") %></div>
							<h3>Renovation Cost Estimator</h3>
							<p>See how much your rehab needs will cost you within minutes and get an accurate estimate of costs for the renovations based on property condition, location, and rehab type.</p>
	          </div>
	          <div class="col-lg-4 col-md-4 col-sm-4">
							<div class="feature-img"><%= image_tag("feature2.png", id:"learn", width: '124', height: '120', alt: "Contractor Bids") %></div>
							<h3>Guaranteed Contractor Bid</h3>
							<p>Our system has guaranteed pre-approved pricing from a comprehensive database of contractors who specialize in the renovation of properties and schedules 3 different ones to physically inspect the property and provide you detailed quotes.</p>
	          </div>
	        </div>
	      </div>
			</section>

			<!--Tabs-->
      <div class="container-fluid">
        <div class="row">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs central">
            <li class="active"><a href="#find-better-deals" data-toggle="tab">Find Better Deals</a></li>
            <li><a href="#make-higher-profits" data-toggle="tab">Make Higher Profits</a></li>
          </ul>
        </div>
      <!-- Tab panes -->
      <div class="container">
        <div class="row tab-content central">
          <div class="tab-pane fade in active col-lg-12" id="find-better-deals">
          	<div class="row">
            	<div class="col-lg-6 col-md-6 animated fadeInLeft">
                <%= image_tag("pic02.jpg", alt: "Find Better Deals") %>
              </div>
            	<div class="col-lg-6 col-md-6 animated fadeInRight">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Find Better Deals</h2>
                    <p>Why waste time finding properties and trying to figure out the financing, renovations, etc.</p>
                  </div>
                  <div class="col-lg-12">
                  	<p class="double-space-bottom">Use RehabID to identify better deals, let us help you figure out if they are even deals.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade col-lg-12" id="make-higher-profits">
          	<div class="row">
            	<div class="col-lg-6 col-md-6 animated fadeInLeft">
                <%= image_tag("pic03.jpg", alt: "Make Higher Profits") %>
              </div>
            	<div class="col-lg-6 col-md-6 animated fadeInRight">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>Make Higher Profits</h2>
                    <p>We guarantee you'll find the best hard money rates and estimats using our system.</p>
                  </div>
                  <div class="col-lg-12">
                  	<p class="double-space-bottom">Therefore you'll spend less on expenses and make higher profits.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

					<!--Footer-->
			    <footer class="footer">
			    	<div class="container">
			      	<div class="row">
			        	<div class="col-lg-12">
			          	<h2 class="text-center text-light">Sign up for early beta access!</h2>
			            <p class="text-light text-center">Get an early peek at some great tools prior to our upcoming launch:</p>
			          </div>
			        </div>
			        <div class="row">

								<!-- Begin MailChimp Signup Form -->
			          <form class="subscribe-form validate" action="http://vestmunity.us12.list-manage.com/subscribe/post?u=3d279e1c62ab7996c31b033c1&amp;id=d3e1f940af" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate>
			            <div class="form-group col-lg-7 col-md-8 col-sm-8 col-lg-offset-1">
			              <label class="sr-only" for="mce-EMAIL">Email address</label>
			              <input type="email" name="EMAIL" class="form-control" id="mce-EMAIL" placeholder="Enter email" required>
			              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
			              <div style="position: absolute; left: -5000px;"><input type="text" name="b_168a366a98d3248fbc35c0b67_73d49e0d23" value=""></div>
			            </div>
			            <div class="form-group col-lg-3 col-md-4 col-sm-4"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary btn-block"></div>
			          </form>
			          <!-- Close MailChimp Signup Form -->
							</div>
			        <div class="row">
			        	<div class="col-lg-12">
			          	<p class="copyright">&copy; 2016 RehabID.</p>
			        </div>
			      </div>
			    </footer>

					<!--Scroll To Top Button-->
			    <div id="scroll-top" class="scroll-up"><i class="icon-arrow-up"></i></div>

			    <!--Javascript (jQuery) Libraries and Plugins-->
			    <script src="jquery-1.11.2.min.js"></script>
					<script src="jquery.easing.1.3.js"></script>
					<script src="bootstrap.min.js"></script>
					<script src="jquery.touchSwipe.min.js"></script>
					<script src="jquery.placeholder.js"></script>
			    <script src="icheck.min.js"></script>
			    <script src="jquery.validate.min.js"></script>
					<script src="gallery.js"></script>
			    <script src="jquery.fitvids.js"></script>
					<script src="jquery.bxslider.min.js"></script>
					<script src="chart.js"></script>
					<script src="waypoints.min.js"></script>
			    <script src="smoothscroll.js"></script>
					<script src="color-switcher.js"></script>
			    <script src="mailer.js"></script>
					<script src="js/landing2.js"></script>

					<!-- Scripts -->
					<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='NAME';ftypes[1]='text';fnames[2]='PHONE';ftypes[2]='text';fnames[3]='STATE';ftypes[3]='number'; }(jQuery));var $mcj = jQuery.noConflict(true);</script>
					<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us12.list-manage.com","uuid":"3d279e1c62ab7996c31b033c1","lid":"d3e1f940af"}) })</script>


			    <!--Google Remarketing Tag (Placed before </body>)-->
			    <!-- <script type="text/javascript">
			    /* <![CDATA[ */
			    var google_conversion_id = 966923546;
			    var google_custom_params = window.google_tag_params;
			    var google_remarketing_only = true;
			    /* ]]> */
			    </script> -->
			    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
			    </script>
			    <noscript>
			    <div style="display:inline;">
			    <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/966923546/?value=0&amp;guid=ON&amp;script=0"/>
			    </div>
			    </noscript>
