<% if policy(@project).new? %>
	<h2> Tell Us About Your Rehab Needs </h2>
		<%= form_for @project, url: user_projects_path do |f| %>
			<div class="row">
		      <div class="3u 12u(mobilep) col-md-3 ">
		          <div class="field">
						<h5> Address </h5>
						<%= f.text_field :address%>
						<h5> City </h5>
						<%= f.text_field :city%>
						<h5> State </h5>
				    	<%= f.select :state, options_for_select(us_states) %>
						<h5> Zip Code </h5>
						<%= f.number_field :zip_code%>
						<h5> Square Feet </h5>
						<%= f.number_field :square_feet%>
						<h5> # of Rooms To Rehab</h5>
						<h6><em>(incl. living, family, dining, etc.) </h6>
						<%= f.number_field :rooms%>

						<h5> # of Bathrooms To Rehab</h5>
						<%= f.number_field :bathrooms%>
						<br>
						<br>
						<%= f.submit "New Project" %>
					</div>
		        </div>
		     </div>
		<% end %>
<% end %>