<% if policy(current_user).new? %>
	<h2> Tell Us About Your Rehab Needs </h2>
	<div class="row">
	  	<div class="3u 12u(mobilep) col-md-3 ">
	      	<div class="field">
				<%= form_for @project do |f| %>
					<% if @project.errors.any? %>
					 	<%= form_errors_for @project %>
					 <% end %>
					<h5> Address </h5>
					<%= f.text_field :address%>
					<h5> City </h5>
					<%= f.text_field :city%>
					<h5> State </h5>
			    	<%= f.select :state, options_for_select(us_states) %>
					<h5> Zip Code </h5>
					<%= f.number_field :zip_code%>
					<h5> Square Feet </h5>
					<%= f.number_field :square_feet%>
					<br>
					<br>
					<%= f.submit "Create New Project" %>
				<% end %>
			</div>
        </div>
     </div>
<% end %>