<div section class="box">
	<div class="row">
		<div class="6u 12u(mobilep)">
			<h2>Project</h2>
			 <%= @project.address %> <%= @project.city %>, <%= @project.state %> <%= @project.zip_code %> | <%= @project_sqft %> Sq. Feet
			 <br>

		<h2> Estimated Cost </h2>
		<% if @minimum_number == "$0" %>
			<h4><%= link_to 'Add Project Features', new_project_project_feature_path(@project.id)%></h4>
		<% else %>
		<h4><%= @minimum_number %> - <%= @maximum_number %></h4>
			<h2> Rehab Needs:</h2>
		<ul>
			<% @project.project_features.each do | f | %>
				<% if f.feature.self? || f.feature.extra?  %>
				  	<li>
						<h5><%= f.feature.name %></h5>
					</li>
				<% else %> 
				   <li>
						<h5><%= f.feature.name %> <%= f.feature.feature_type %></h5>
					</li>
				<% end %>
			<% end %>
				</ul>

		<h4><%= link_to 'Add Project Features', new_project_project_feature_path(@project.id)%></h4>
		</div>

		<div class="6u 12u(mobilep)">
			<h2> Local Contractors:</h2>
			<ul>
				<% @contractors.each do | c | %>
						<li>
							<h5><%= c.name %></h5>

						</li>
					<% end %>
			</ul>
		<% end %>

		</div>
	</div>
</div>