<% if policy(current_user).new? %>
<h4><b> Tell Us About Your Lending Terms</b> </h4>
	<div class="row">
		<div class="4u 12u(mobilep)">
			<%= form_for @loan_quote, url: loan_quote_path(current_user) do |f| %>
			<% if @loan_quote.errors.any? %>
		 		<%= form_errors_for @loan_quote %>
		 	<% end %>
				<h4> Property Type  </h4>
				<%= f.select :property_type, @property_types.collect {|type| [ type[0].humanize] } %>
				<h4> Is this a new purchase or refinance? </h4>
				<%= f.select :purchase, ([['New purchase', 1], ['Refinance', 0]]) %>
				<h4> Will this property be occupied? </h4>
				<%= f.select :occupied, ([['Non-owner occupied', 1], ['Owner occupied', 0]]) %>
				<h4> Adresss </h4>
				<%= f.text_field :address%>
				<h4> City </h4>
				<%= f.text_field :city%>
				<h4> State</h4>
				<%= f.select :state, options_for_select(us_states) %>
				<br>
				<h4> Zip Code </h4>
				<%= f.number_field :zip_code%>
		</div>

		<div class="2u 12u(mobilep)">
				<h4> Purchase Price </h4>
				<%= f.number_field :price%>
				<h4> Downpayment </h4>
				<%= f.number_field :down_payment%>
				<h4> Rehab Budget </h4>
				<%= f.number_field :rehab%>
				<h4> After Rehab Value</h4>
				<h6><em>(best estimate) </em></h6>
				<%= f.number_field :arv%>
				<h4> Experience </h4>
				<h6><em>(number of rehabs completed) </em></h6>
				<%= f.number_field :experience%>
				<h4> FICO Score</h4>
				<%= f.number_field :fico%>
				<h4> Refferal Source</h4>
				<%= f.text_field :referral%>
				<br>
			<%= f.submit "Search for Loans" %>
		<% end %>
		</div>
	</div>
<% end %>