<% if policy(current_user).new? %>
<h4><b> Tell Us About Your Lending Terms</b> </h4>
	<div class="row">
		<div class="4u 12u(mobilep)">
			<%= form_for @loan_quote, url: loan_quote_path(@user.id) do |f| %>
				<h5> Property Type  </h5>
				<%= f.select :property_type, options_for_select(@property_types.collect { |type| [type[0].humanize, type[0]] }, selected: @loan_quote.property_type), {} , class: "form-control" %>
				<br>
				<%= f.radio_button(:purchase, "") %>
				<%= label_tag(:purchase, "This is a new purchase") %>
				<h5> Adresss </h5>
				<%= f.text_field :address%>
				<h5> City </h5>
				<%= f.text_field :city%>
				<h5> State</h5>
				<%= f.select :state, options_for_select(us_states) %>
				<br>
				<h5> Zip Code </h5>
				<%= f.number_field :zip_code%>
		</div>

		<div class="2u 12u(mobilep)">
				<h5> Purchase Price </h5>
				<%= f.number_field :price%>
				<h5> Downpayment </h5>
				<%= f.number_field :down_payment%>
				<h5> Rehab Budget </h5>
				<%= f.number_field :rehab%>
				<h5> After Rehab Value</h5>
				<h6><em>(best estimate) </em></h6>
				<%= f.number_field :arv%>
				<h5> Experience </h5>
				<h6><em>(number of rehabs completed) </em></h6>
				<%= f.number_field :experience%>
				<h5> FICO Score</h5>
				<%= f.number_field :fico%>
				<h5> Refferal Source</h5>
				<%= f.text_field :referral%>
				<br>
			<%= f.submit "Search for Loans" %>
		</div>
	</div>
		<% end %>
<% end %>