<% if policy(@loan_quote).show? %>
	<div class="row">
		<div class="4u 12u(mobilep)">

			<h2>Property Address</h2>

			 <%= @loan_quote.address %> <%= @loan_quote.city %>, <%= @loan_quote.state %> <%= @loan_quote.zip_code %>
			 <br>

			<h2> Loan Info</h2>

			<ul>
			  	<li>
					<h5>Purchase Price: <%= @loan_quote_price %></h5>
				</li>
			   	<li>
					<h5>Downpayment: <%= @loan_quote_down_payment %></h5>
				</li>
				<li>
					<h5>Rehab Budget: <%= @loan_quote_rehab %></h5>
				</li>
			   <li>
					<h5>Your Estimated After Repair Value: <%= @loan_quote_arv %></h5>
				</li>
			</ul>
		</div>

			<div class="4u 12u(mobilep)">
			<h2>Available Loans</h2>
			<% @loan_quote.lender_quotes.each.with_index(1) do | l, index | %>
			<ul>
				<% if l.loan_application.present? %>
					<% if l.loan_application.lender_loan.approved? %>
						<li>
						<h4><b>Congrats This Loan Has Been Approved</b></h4>
						<h5>Interest Rate: <%= number_to_percentage(l.interest_rate * 100, precision: 0) %> </h5>
						<h5>Loan Amount: <%= number_to_currency(l.loan_purchase, :precision => 0) %> </h5>
						<h5>Origination Fee: <%= number_to_currency(l.origination_fee, :precision => 0) %> </h5>
						<h5>Term: <%= l.term %> Months </h5>	
						<h5>Pre-Payment Penalty: <%= l.pre_payment %> Months </h5>
						<h5>Rehab Loan: <%= number_to_currency(l.loan_rehab, :precision => 0) %> </h5>
						<h5>Max # of Draws: <%= l.draws %> Draws </h5>
						<h5>Minimum Draw Amount: <%= number_to_currency(l.min_draw, :precision => 0) %> </h5>
						<h5>Minimum Final Draw Holdback: <%= number_to_percentage(l.min_final_draw * 100, precision: 0) %> </h5>
						</li>
					<% else %>
					<% end %>
				<% else %>
					   <li>
					   <h4> Option <%= index %>
							<h5>Interest Rate: <%= number_to_percentage(l.interest_rate * 100, precision: 0) %> </h5>
							<h5>Loan Amount: <%= number_to_currency(l.loan_purchase, :precision => 0) %> </h5>
							<h5>Origination Fee: <%= number_to_currency(l.origination_fee, :precision => 0) %> </h5>
							<h5>Term: <%= l.term %> Months </h5>	
							<h5>Pre-Payment Penalty: <%= l.pre_payment %> Months </h5>
							<h5>Rehab Loan: <%= number_to_currency(l.loan_rehab, :precision => 0) %> </h5>
							<h5>Max # of Draws: <%= l.draws %> Draws </h5>
							<h5>Minimum Draw Amount: <%= number_to_currency(l.min_draw, :precision => 0) %> </h5>
							<h5>Minimum Final Draw Holdback: <%= number_to_percentage(l.min_final_draw * 100, precision: 0) %> </h5>
							<td><%= button_to 'Select This Loan', {:controller => "loan_applications", :action => "create", :lender_id => l.lender_underwriting.user_id, :lender_quote_id=> l.id, loan_quote_id: @loan_quote.id} , :method=>:post  %></td>
						</li>
					<% end %>
				</ul>
				<% end %>

			</div>

			<div class="4u 12u(mobilep)">
				
					<h2> Your Info </h2>
				<ul>
				  	<li>
						<h5>Your Experience: <%= @loan_quote.experience %> Rehabs Completed</h5>
					</li>
				   	<li>
						<h5>FICO Score: <%= @loan_quote.fico %></h5>
					</li>
					<li>
						<h5>Referral Source: <%= @loan_quote.referral %></h5>
					</li>
				   <li>
					</li>

				<h4><%= link_to 'Edit Loan Info', edit_user_loan_quote_path(current_user.id, @loan_quote.id)%></h4>
				 <h4><%= link_to 'Create New Loan', new_user_loan_quote_path(current_user.id)%></h4>
			</div>
		</div>
<% end %>