<h3>Floor Pricing</h3>
<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 0), :id, :name), prompt: "Select the floor you'd like to price." %>
<%= label_tag :minimum_price_per_square_feet %>
<%= number_field_tag "feature[][floor]"%>
<%= label_tag :maximum_price_per_square_feet %>
<%= number_field_tag "feature[][ceiling]"%>
<br>
<br>
<h3>Main Features Pricing</h3>
<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 1), :id, :name), prompt: "Select the type of feature you'd like to price." %>
<%= label_tag :minimum_price_per_room %>
<%= number_field_tag "feature[][floor]"%>
<%= label_tag :maximum_price_per_room %>
<%= number_field_tag "feature[][ceiling]"%>
<br>
<br>
<h3>Roof Pricing</h3>
<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 2), :id, :name), prompt: "Select the type of roof you'd like to price." %>
<%= label_tag :minimum_price_for_roof %>
<%= number_field_tag "feature[][floor]"%>
<%= label_tag :minimum_price_for_roof %>
<%= number_field_tag "feature[][ceiling]"%>
<br>
<br>
<h3>Exterior Pricing</h3>
<%= select_tag "feature[][feature_id]", options_from_collection_for_select(Feature.where(feature_type: 3), :id, :name), prompt: "Select the type of exterior feature you'd like to price." %>
<%= label_tag :minimum_price_per_feature %>
<%= number_field_tag "feature[][floor]"%>
<%= label_tag :maximum_price_per_feature %>
<%= number_field_tag "feature[][ceiling]"%>