<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @appointment.phone_number %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time %>
</p>

<p>
  <strong>Time zone:</strong>
  <%= @appointment.time_zone %>
</p>

<p>
  <strong>Bid:</strong>
  <%= @appointment.bid %>
</p>

<p>
  <strong>Contractor bid:</strong>
  <%= @appointment.contractor_bid %>
</p>

<%= link_to 'Edit', edit_user_contractor_bid_appointment(current_user.id, @contractor_bid_id)%> |
<%= link_to 'Back', user_contractor_bid_appointments_path(current_user.id, @contractor_bid_id) %>
