<!DOCTYPE html>
<html>
  <head>
    <title>RehabID - Automatically identify your next rehab project.</title>
    <meta charset="utf-8">
    <meta name="description" content="RehabID - Automatically identify your next rehab project" />
    <meta name="keywords" content="rehab, fix and flip, renovations, hard money lenders, aggregator, contractors" />
    <meta name="author" content="RehabId" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <!--Google Fonts-->
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>
    <!--Bootstrap 3.3.2-->
    <link href="bootstrap.min.css" rel="stylesheet" media="screen">
    <!--Icon Fonts-->
    <link href="font-awesome.min.css" rel="stylesheet" media="screen">
    <link href="icon-moon.css" rel="stylesheet" media="screen">
    <!--Animations-->
    <link href="animate.css" rel="stylesheet" media="screen">
    <!--Theme Styles-->
    <link href="theme-styles.css" rel="stylesheet" media="screen">
    <!--Color Schemes-->
    <link class="color-scheme" href="color-default.css" rel="stylesheet" media="screen">
    <!--Modernizr-->
    <script src="js/libs/modernizr.custom.js"></script>
    <!--Adding Media Queries and Canvas Support for IE8-->
    <!--[if lt IE 9]>
      <script src="js/plugins/respond.min.js"></script>
      <script src="js/plugins/excanvas.js"></script>
    <![endif]-->
    <!--Google Analytics-->
    <!-- <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-46803427-2']);
              _gaq.push(['_trackPageview']);
      (function () {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();
    </script>

    <!--Facebook Remarketing (Placed in <head>))-->
    <!-- <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
      _fbq.push(['addPixelId', '1491098954441261']);
    })();
    window._fbq = window._fbq || [];
    window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=1491098954441261&amp;ev=NoScript" /></noscript> --> -->

  </head>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

<!--   <body> -->

      <%= render 'shared/navbar' %>

        <%= yield %>

        <!-- <%= render 'shared/footer' %> -->
  </body>
</html>
